:root { --anchoVideo: 1000px; }

/*************************Section ContenidoMultimedia**************************************/
@font-face{	font-family: 'apazammp';
src: url('/apz/0assets/fonts/ApazaMmp-Bold.ttf') format('truetype');}

* { font-family: 'PT Sans', Arial; font-size: small;}
* {margin: 1px; padding: 0;}

body { background-color: dimgray;
    border: 1px;
    width: auto;
}

h1 { font-size: 1.1rem; }
h2 { font-size: 0.9rem; }
h1,h2,h3 { 
    color: whitesmoke;
    background-color: #393939;
    text-align: center;
}

.vidcontainer {
    float: left;
    margin: 2px;
    position: relative;
    width: var(--anchoVideo);
}

.vidcontainer span {
    /* background-color: red; */
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 1;
}

.vidcontainer span button {
    width: calc(var(--anchoVideo)/3.03);
    height: 400px;
    opacity: 0.05;
}

video { width: var(--anchoVideo);
    z-index: -1;
}

#cajaAnki { background-color: silver;
    width: 365px;
    height: 580px;
}

article {
    display: flow-root;
    font-size: small;
    text-align: justify;
}

article em { background-color: darkslategray;
    color: whitesmoke;
    font-size: 0.8rem;
}

ol,ul {list-style-position: inside;}

figure { display: inline;
    float: right;
    position: relative;
}
figure button {
    position: absolute;
    opacity: 0.3;
    top: 0; right: 0;
    width: 1rem; height: 1rem;
}
.icono{	width: 1em;	height: 1em;}		/* iconos SVG */
.icnGame { font-size: 1.6rem; text-shadow: 2px 2px yellow; }
a { text-decoration: none; }

article table { border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    float: right;
}
article table td { background-color: silver;
    border: solid white 1px;
    padding: 2px;
    vertical-align: top;
    width: 100%;
}

.apazammp{	color: black;    font-family: apazammp;}

.txtColor1 { color: tomato; }
.txtColor2 { color: khaki; }
.txtColor3 { color: blue; }
.txtFondo1 { background-color: tomato;}
.txtFondo2 { background-color: khaki;}
.txtFondo3 { background-color: deepskyblue; }

footer { background-color: black;
    color: orange;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

code { background-color: blue;
    color: yellow;
    font-family: monospace;
    font-size: 0.8rem;
}

#apzToolsDiv { z-index: 5; }
.animejs { display: inline-block; }